
body {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  margin: 0;
  padding: 0;
}
.navbar-light .navbar-nav .nav-link {
  color: black;
}

p, h3, h2, h1, a {
  font-family: 'Roboto', sans-serif;
}

section{
  background: #F3F3F3;
}

.customButton1 {
  border-radius: 0 !important;
  box-shadow: 0.125rem 0.1875rem 0.9375rem rgba(0, 0, 0, .15);
  display: inline-block;
  font-weight: 500;
  font-size: .875rem;
  padding: .75rem 1.25rem;
  position: relative;
  outline: none !important;
  text-transform: uppercase;
  background: #23b4b3;
  margin-bottom:.6em
}

.customButton1:hover {
  color: #23b4b3;
  background: black;
  -webkit-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}


.customButton2 {
  border-radius: 0 !important;
  box-shadow: 0.125rem 0.1875rem 0.9375rem rgba(0, 0, 0, .15);
  display: inline-block;
  font-weight: 500;
  font-size: .875rem;
  padding: .75rem 1.25rem;
  position: relative;
  outline: none !important;
  text-transform: uppercase;
  color: #23b4b3;
  background-color: black;
  border-color: #23b4b3;
  margin-bottom:.6em
}

.customButton2:hover {
  background:#23b4b3;
  color: black;
  -webkit-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

p.black{
  margin:0em;
  color:black
}

.buttons button {
  margin:0em 0em .6em 0em !important
}

.landing-sec {
  padding: 3rem;
  margin-bottom: 0em;
  padding-bottom: 0em;

}
#six{
  padding-bottom:3rem;
}
.landing-sec-H {
  font-size: 2rem;
  font-weight: 500;
  color:black;
  padding-bottom: 5px;
  border-bottom: 3px solid #23b4b3;
  position: relative;
  margin: 0 auto 1rem;
  text-align: left;
}


/* navbar */

.navbar {
  font-size: .875rem;
  font-weight: 500;
  transition: .3s ease;
  text-transform: uppercase;
  padding-top: 0 !important;
  padding-bottom: 0 !important;

}

.navbar .ts-background {
  transition: 1s ease;
}

.nav-link.active:after {
  opacity: 1;
}

.nav-link {
  position: relative;
}

.nav-link:after {
  border-bottom: .25rem solid #23b4b3;
  content: "";
  height: .2rem;
  position: absolute;
  /* top: 0; */
  left: 0;
  width: 100%;
  opacity: 0;
  transition: 1s ease;
  bottom: 0;
}

.navbar-toggler {
  margin-left: auto;
  margin-top: .5rem;
  margin-bottom: .5rem;
}

[class*="navbar-expand"] .navbar-nav .nav-link {
  padding-top: .5rem;
  padding-bottom: .5rem;
  border-bottom: .0625rem solid rgba(0, 0, 0, .1);
}

/* carousel */
.carousel-caption {
  position: absolute;
  right: 30%;
  bottom: 20px;
  left: 30%;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  text-align: center;
}


.carousel-item {
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

/* logo */

.push-down__50 {
  transform: translateY(50%);
  z-index:9
}

.logo {
  max-height:3em
}


/* images */
.fourCol {

  margin:1em auto;
}

/*FOOTER*/

footer {
  background:#212529
}

footer h4 {
  font-weight:300;
  color: white;
}

footer a {
  font-weight:100 !important;
  color: white;
  font-size:14px;
}
footer a:hover {
  color:#23b4b3 !important
}

footer a:hover {
  color: #FA944B;
  text-decoration: none;
}

.copy {
  font-size: 12px;
  padding: 10px;
  border-top: 1px solid #FFFFFF;
}

.footer-middle {
  padding-top: 2em;
  color: white;
}


/* footer social icons */

ul.social-network {
  list-style: none;
  display: inline;
  margin-left: 0 !important;
  padding: 0;
}

ul.social-network li {
  display: inline;
  margin: 0px 5px 0px 0px;
}


/* footer social icons */

.social-network a.icoFacebook:hover i,
.social-network a.icoLinkedin:hover i {
  color: #fff;
}

.social-network a.socialIcon:hover,
.socialHoverClass {
  color: #44BCDD;
}

.social-circle li a {
  display: inline-block;
  position: relative;
  margin: 0 auto 0 auto;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  text-align: center;
  width: 30px;
  height: 30px;
  font-size: 15px;
  Margin-bottom:.8em
}

.social-circle li i {
  margin: 0;
  line-height: 30px;
  text-align: center;
}

.social-circle li a:hover i,
.triggeredHover {
  -moz-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -ms--transform: rotate(360deg);
  transform: rotate(360deg);
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -ms-transition: all 0.2s;
  transition: all 0.2s;
}

.social-circle i {
  color: #212529;
  -webkit-transition: all 0.8s;
  -moz-transition: all 0.8s;
  -o-transition: all 0.8s;
  -ms-transition: all 0.8s;
  transition: all 0.8s;
}

.social-network a {
  background-color: white;
}

.social-network a:hover {
  background-color: #23b4b3
}




/* media queries */


@media (min-width: 75rem) {

  .navbar.navbar-expand-xl .navbar-nav {
    align-items: center;
  }

  .navbar.navbar-expand-xl .navbar-nav .nav-link {
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-bottom: none;
  }

  .navbar.navbar-expand-xl .ts-background {
    opacity: 0;
  }


}



@media (min-width: 62rem) {

  .navbar.navbar-expand-lg .navbar-nav {
    align-items: center;
  }

  .navbar.navbar-expand-lg .navbar-nav .nav-link {
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-bottom: none;
  }

  .navbar.navbar-expand-lg .ts-background {
    opacity: 0;
  }


}


@media (min-width: 48rem) {

  .navbar.navbar-expand-md .navbar-nav {
    align-items: center;
  }

  .navbar.navbar-expand-md .navbar-nav .nav-link {
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-bottom: none;
  }

  .navbar.navbar-expand-md .ts-background {
    opacity: 0;
  }
}



@media (min-width: 36rem) {
  .navbar.navbar-expand-sm .navbar-nav {
    align-items: center;
  }

  .navbar.navbar-expand-sm .navbar-nav .nav-link {
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-bottom: none;
  }

  .navbar.navbar-expand-sm .ts-background {
    opacity: 0;
  }

}
@media (max-width: 991px) {
  .container-fluid {
    max-width: 720px !important;
  }

  .landing-sec {
    padding: 1rem;

  }
  .landing-sec-H {
    font-size: 1.5rem;
    text-align: center;
  }
  .copy {
    padding-top: 1.5em;
  }
}
